{% load static %}

<div class="container">

    <div class="hero">

        <div class="hero-content">
            <div class="women-in-python">WOMEN IN PYTHON INDONESIA</div>
            <h1 class="hero-title">
                Empowering <br><span class="text-yellow">Women</span><br>in the Python <span class="text-red">Community</span>
            </h1>

            <p class="hero-desc">
                A mentor-led community in Indonesia dedicated to empowering women to thrive in the world of Python programming.
            </p>

            <div class="hero-buttons">
                <a href="#community" class="primary-btn">Join Community</a>
                <a href="#events" class="default-btn">Upcoming Events</a>
            </div>
        </div>

        <div class="hero-image">
            <img src="{% static 'images/home/hero.png' %}" alt="PyLadies Indonesia">
        </div>

    </div>

</div>